.header-bar {
    display: flex;
    width: 100vw;
    justify-content: space-between;
    background-color: rgb(3, 228, 228);
}



.header-item-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-item-search input {
    height: 1.5em;
    width: 20vw;
    border-radius: 0.75em;
    border: 1px;
    margin-left: 1em;
}

.header-item-search input:focus {
    outline: none;
}





.header-group {
    display: flex;
    flex-direction: row;
}