<div class="header-bar">
    <div class="header-group">
        <div class="header-item-button">
            <a routerLink="">Home</a>
        </div>
        <div class="header-item-button">
            <a routerLink="todo-liste">Todo Liste</a>
        </div>
        <button (click)="onClick()">Todo 2</button>
    </div>
    <div class="header-item-search">
        Search: <input type="search">
    </div>
    <div class="header-item-button">
        <a routerLink="404">Connexion</a>
    </div>
</div>