<form [formGroup]="todoForm" (ngSubmit)="onSubmit()" class="todo-form">
    <label for="titre">
      <h3>Titre:</h3>
      <input formControlName="titre" pInputText>
    </label>
    <label for="description">
      <h3>Description:</h3>
      <textarea formControlName="description" cols="30" rows="10"></textarea>
    </label>
    <label for="date">
      <h3>Date:</h3> 
      <input type="date" formControlName="date">
    </label>
    <label for="tags"><div formArrayName="tags" class="todo-form">
      <div *ngFor="let tag of tags.controls; let index=index"[formGroupName]="index">
        <input  type="text" formControlName="nom">
        <input type="color" formControlName="color">
      </div>
      <button (click)="ajouterTag()" type="button">Ajouter un tag</button>
    </div>

    </label>
    
    <button type="submit">Submit</button>
  </form>